body {
    margin: 2em;
    background-color: #f3fafa;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='anchors-away' fill='%237068b1' fill-opacity='0.21'%3E%3Cpath d='M12.392 14v15.95c-3.278-.325-6.09-2.233-7.66-4.95l3.464-2L0 20.804 2.885 25.8C4.93 29.498 8.87 32 13.392 32c4.524 0 8.463-2.503 10.508-6.2l2.885-4.996L18.588 23l3.466 2c-1.57 2.717-4.384 4.625-7.662 4.95V14h5v-2h-5V7.874c1.726-.444 3-2.01 3-3.874 0-2.21-1.79-4-4-4s-4 1.79-4 4c0 1.864 1.275 3.43 3 3.874V12h-5v2h5zm1-8c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm39 48v15.95c-3.278-.325-6.09-2.233-7.66-4.95l3.464-2L40 60.804l2.885 4.997C44.93 69.498 48.87 72 53.392 72c4.524 0 8.463-2.503 10.508-6.2l2.885-4.996L58.588 63l3.466 2c-1.57 2.717-4.384 4.625-7.662 4.95V54h5v-2h-5v-4.126c1.726-.444 3-2.01 3-3.874 0-2.21-1.79-4-4-4s-4 1.79-4 4c0 1.864 1.275 3.43 3 3.874V52h-5v2h5zm1-8c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm-40 14c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm40-40c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 50%;
    border: aliceblue solid 50px;
    margin-left: auto;
    margin-right: auto;
}

.message h3 {
    font-family: sans-serif;
    font-size: 3em;
}

.message p {
    font-size: 3em;
    font-family: cursive;
}

.message {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    background-color: #ae97d0;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23eff1d7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}